---
---

@import "{{ site.theme }}";

.container {
  max-width: 800px;
}

#myPathWrapper {
  animation-duration: 3s;
  animation-name: pump;
  animation-iteration-count: 10;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  width: 200px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 5em;
}

@keyframes pump {
  from {
    width: 100px;
  }
  to {
    width:200px;
  }
}

#myWrapperBox {
  height: 500px;
}
