---
---

@import "{{ site.theme }}";

.container {
  max-width: 800px;
}

/*
  Modify the Header
*/

header h1,h2 {
  margin-left: 5px;
}

header h1::after {
    content: " _";
    font-size: 24px;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: blink;
    animation-timing-function: ease-in-out;

}

@keyframes blink {
  from {
    /* display: none; */
    font-size: 90%;
  }
  to {
    /* display: block; */
  }
}


/*
  Modify the index.html
*/

#myPathWrapper {
  animation-duration: 3s;
  animation-name: pump;
  animation-iteration-count: 10;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  width: 200px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 5em;
}

@keyframes pump {
  from {
    width: 100px;
  }
  to {
    width:200px;
  }
}

#myWrapperBox {
  height: 500px;
}
